@import '../../variables.css';

.todoForm-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 500px;
  padding: 16px;
  background-color: var(--layout-foreground);
  border-radius: 30px;
  box-shadow: 4px 4px 40px 0px var(--default-800);
}

.TodoForm-navbar {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-bottom: 16px;
  position: relative;
}

.TodoForm-close {
  cursor: pointer;
  position: absolute;
  left: 0;
}

.TodoForm-title {
  flex-grow: 1;
  text-align: center;
}

.TodoForm-text {
  border: transparent;
  outline: none;
  background: transparent;
  height: auto;
  font-weight: 600;
  font-size: 20px;
  padding: 0 8px;
  resize: none;
  &::placeholder {
    font-family: 'Heebo Variable', sans-serif;
    font-weight: 700;
  }
}

.divider-textarea {
  stroke-width: 1px;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 1) 0%,
    rgba(115, 115, 115, 1) 50%,
    rgba(217, 217, 217, 1) 100%
  );
  width: 100%;
  height: 1px;
  border: none;
}

.TodoForm-button{
  display: flex;
  justify-content: end;
}

.TodoForm-create-task {
  display: flex;
  padding: 8px 12px;
  justify-content: flex-end;
  align-items: center;
  background: var(--primary-400);
  border-radius: 8px;
  border: none;
  color: var(--layout-foreground);
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
}
