@import '../../variables.css';

.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding:12px 18px;
  margin: 16px 0px;
  border-radius: 20px;
  border: 2px solid var(--primary-900);
}

.Todo-item--todo-task {
  display: flex;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  margin: 0 10px;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #0e7d5a;
  height: 1em;
  width: 1em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.checked .checkmark {
  background-color: var(--clr);
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 0.33em;
  top: 0.14em;
  width: 0.2em;
  height: 0.45em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0b6e4f90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0b6e4f60;
  }

  100% {
    box-shadow: 0 0 0 13px #0b6e4f30;
    rotate: 0;
  }
}

.todo-item_text {
  color: #ffff;
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  box-sizing: content-box;
  padding-right: 10px;
}
.todo-item_text--completed {
  text-decoration: line-through;
  color: #ffffff8a;
}
.todo-item_delete {
  cursor: pointer;
  border: transparent;
  background: transparent;
}

.todo-item--badges {
  display: flex;
  gap: 20px;
}

.status-badges span {
  color: var(--layout-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.status-badges {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
}

.todo {
  background: var(--default-400);
}

.in-progress {
  background: #fe8c06;
}

.completed {
  background: var(--sucess-300);
}

.priority-badges {
  display: flex;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
}

.priority-badges span {
  color: var(--layout-foreground);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.low {
  background: var(--gradiant-lowBlue);
}

.medium {
  background: var(--gradiant-mediumOrange);
}

.high {
  background: var(--gradiant-highRed);
}

.low {
  background: var(
    --Color-Gradiant-LowBlue,
    linear-gradient(87deg, #0d41e1 0.94%, #07c8f9 99.06%)
  );
}

.date-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.date-badges span {
  color: var(--layout-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Bin Styles */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 18px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
