@import '../../variables.css';

.todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding:12px 18px;
  margin: 16px 0px;
  border-radius: 20px;
  border: 2px solid var(--primary-900);
}

.Todo-item--todo-task {
  display: flex;
  align-items: center;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
  .checkbox-wrapper ::after,
  .checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .container {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .container svg {
  vertical-align: middle;
  color: var(--layout-foreground);
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .square{
  color: var(--layout-foreground)
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

.checkbox-wrapper .check:checked + label svg rect{
  color: var(--default-700);
}

.container {
  display: block;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  margin-right:10px ;
}

.todo-item_text {
  color: #ffff;
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  box-sizing: content-box;
  padding-right: 10px;
}
.todo-item_text--completed {
  text-decoration: line-through;
  text-decoration-color: var(--sucess-400);
  color: #ffffff8a;
}
.todo-item_delete {
  cursor: pointer;
  border: transparent;
  background: transparent;
}

.todo-item--badges {
  display: flex;
  gap: 20px;
}

.status-badges span {
  color: var(--layout-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.status-badges {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
}

.todo {
  background: var(--default-400);
}

.in-progress {
  background: #fe8c06;
}

.priority-badges {
  display: flex;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
}

.priority-badges span {
  color: var(--layout-foreground);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.low {
  background: var(--gradiant-lowBlue);
}

.medium {
  background: var(--gradiant-mediumOrange);
}

.high {
  background: var(--gradiant-highRed);
}

.low {
  background: var(
    --Color-Gradiant-LowBlue,
    linear-gradient(87deg, #0d41e1 0.94%, #07c8f9 99.06%)
  );
}

.date-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.date-badges span {
  color: var(--layout-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Bin Styles */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 18px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
