@import "../../variables.css";

.todo-search {
  display: flex;
  height: 40px;
  padding: 0px 10px;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--default-300);
  
}
.todo-search__input{
  width: 95%;
  border: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: transparent;
  color: var(--layout-foreground);
  transition: width 0.3s ease-in-out;
  
  &:focus{
    width: 350px;
  }
}

.todo-search__icon{
  flex-shrink: 0;
}

.todo-search__input::placeholder {
  color: var(--default-700);
  font-family: 'Heebo Variable', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.todo-search__input:focus {
  outline: none;
}
/* .todo-search__input:focus {
  box-shadow: 0px 0px 8px 0px rgba(45, 116, 176, 1);
} */
