.todo-header-task {
}

.todo-header_title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: start;
  margin-bottom: 0.5rem;
  text-align: center;
}

.todo-header-completed {
  font-size: 1.125rem;
  font-weight: 600;
  color: #05c7f2;
  text-align: center;
  margin: 0;
}
