.todo-item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4380b1;
  margin: 16px 0px;
  border-radius: 16px;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  margin: 0 10px;
  top: 10px;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #0e7d5a;
  position: relative;
  top: 0.125em;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.checked .checkmark {
  background-color: var(--clr);
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 0.33em;
  top: 0.14em;
  width: 0.2em;
  height: 0.45em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0b6e4f90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0b6e4f60;
  }

  100% {
    box-shadow: 0 0 0 13px #0b6e4f30;
    rotate: 0;
  }
}

.todo-item_text {
  color: #ffff;
  font-size: 16px;

  font-weight: 700;
  box-sizing: content-box;
  padding-right: 10px;
}
.todo-item_text--completed {
  text-decoration: line-through;
  color: #ffffff8a;
}
.todo-item_delete {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 4px;
  top: -4px;
  color: #ffff;
  font-weight: 700;
}

/* .todo-item_checkbox{
  margin: 0 10px ;
} */
/* .todo-item_checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  margin: auto 10px;
  background-color: #bbb;
  transition: all .3s;
  border-radius: 10px;
}

.todo-item_checkbox::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .7em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .25em);
  top: calc(50% - .55em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
}

.todo-item_checkbox:checked {
  animation: b .3s ease-in forwards;
  background-color: #CC075F;
}

.todo-item_checkbox:checked::before {
  opacity: 1;
  transform: rotate(405deg);
}

@keyframes b {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }

  50% {
    opacity: 0;
    transform: scale(.8) rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateY(360deg);
  }
} */
