*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #03081B;
  font-family: 'Heebo Variable', sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 100%;
}
html{
  font-size: 100%;
}
p{
  color: white;
}
.todo-main {
  min-width: 360px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
#root{
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100dvw;
}