body {
  margin: 0;
  padding: 0;
  background: #0E1A59;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 100%;
}
html{
  font-size: 100%;
}
p{
  color: white;
}
.Todo {
  display: flex;
  flex-direction: column;
}
#root{
  min-height: 90vh;
}